@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color-1: rgb(29, 20, 30);
  --bg-color-2: rgb(16, 11, 16);
  font-family: --font-kanit;
  background-color: var(--bg-color-1);
}

.show-el {
  opacity: 1;
  transition: 0.8s;
}

.hide-el {
  opacity: 0;
  margin-top: 100px;
}
